@import 'colors';
@import 'mixins';
@import 'fonts';



.header{
    position: sticky;
    top: 0;

    nav{
        @include flex-center();
        justify-content: space-between;
        height: 4rem;
        background-color: $main-color;

        .ul-items{
            list-style: none;
            
            .li-items{
                a{
                    text-decoration: none;
                    color: $secondary-color;
                    margin: 0rem 1rem;
                    font-size: 14px;
                }
                .orange{
                    color: $orange-color;
                }
            }
        }
        .logo {
            text-transform: uppercase;
            margin-right: 2rem;
            font-family: $main-font;
        }

        .right{
            @include flex-center();

            .search{
                @include flex-center();
                margin-right: 5rem;
 
                .search-icon{
                    color: $gray-color;
                    font-size: 15px;
                }
            }

            .btn{
                background: none;
                border: none;
                cursor: pointer;
            }
        }
        .right-buttons{
            @include flex-center();
            margin-right:1rem;

            button{
                margin: 0rem 1rem;
                background: none;
                border: none;
                cursor: pointer;

                a{
                    text-decoration: none;
                    color: $gray-color;
                }
            }

            .basket{
                color:rgb(255,151,31);
            }
        }
    }

} 